table,
th,
td {
    border: 1px solid rgb(27, 214, 217);
    background-color: rgb(208, 242, 243);
    border-collapse: collapse;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}


thead,
tfoot {
    border: 1px solid rgb(27, 214, 217);
    background-color: rgb(208, 242, 243);
}